<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
 
  <style type="text/css"><!--
   @import url("/style.css");
   //--></style>
  <script type="text/javascript" src="//www.google-analytics.com/ga.js"></script>
  <script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11325075-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</head>
<body>

  <table id="titlebar" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr valign="bottom">
      <td align="left"><a href="/"><img id="tl" src="/g/titleheader.png" alt="StigBakken.com" border="0" vspace="2" /></a></td>
      <td width="99%">&nbsp;</td>
      <td align="right">
        <img id="tr" src="/g/furugran.png" alt="" border="0" vspace="2" />
      </td>
    </tr>
  </tbody></table>

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr style="height: 100%;" valign="top">
      <td id="body" width="100%" class="body">
        {{ .Content }}
      </td>
    </tr>
  </tbody></table>

  <table id="pageftr" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
      <td>
        <div style="float: left;">&copy; 2004-{{ now.Year }} Stig Sæther Nordahl Bakken</div>
      </td>
    </tr>
  </tbody></table>

</body>
</html>
