body,
html {
  margin: 0px;
  padding: 0px;
  ;
  background: #6890c0;
  background: #ffffee;
  color: #333333;
}

#titlebar {
  background-image: url("/g/titlebg.png");
  background-repeat: repeat-x;
  height: 88px;
}

#tl {
  /* title-left */
  float: left;
}

#tr {
  /* title-right */
  float: right;
}

#body {
  margin: 1ex 1em 1ex 5em;
  font-family: luxi sans, verdana, sans-serif;
  font-size: 10pt;
  vertical-align: top;
  padding: 5pt 5pt 5pt 5pt;
  width: auto;
}

#lsb {
  background: #f5f5f5;
  color: black;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 0px 1pt 0px 0px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  white-space: nowrap;
  top: 100px;
  left: 0px;
  height: 100%;
  width: 4em;
}

#lsb a {
  display: block;
}

#lsb a.sub {
  display: block;
  padding-left: 10px;
  font-size: 90%;
}

#lsb span {
  display: none;
}

#lsb p {
  display: none;
}

#rsb {
  /*  background: #f5f5f5; */
  color: black;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 0px 0px 0px 1pt;
  padding: 10px;
  vertical-align: top;
  top: 100px;
  left: 0px;
  width: 4em;
}

div.news {
  clear: both;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

p.news {
  margin: 0.75em 0px;
  text-align: left;
}

h1 {
  background: #f5f5f5;
  color: black;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1pt;
  margin-bottom: 5pt;
  padding: 0.5ex 1ex 0.5ex 1ex;
  font-weight: bold;
  font-size: 2ex;
  text-align: left;
  ;
  clear: left;
}

.ftbut {
  height: 16;
  vertical-align: text-top;
  text-decoration: none;
  font-weight: bold;
  border: 1pt solid #333333;
  padding: 1pt 2pt 1pt 2pt;
  font-size: 8pt;
  background: #f5f5f5;
}

TABLE.editform TR TH {
  text-align: right;
  vertical-align: top;
}

a.ftbut:hover {
  background: #cccccc;
}

TABLE.backtrace {
  border: 1pt solid #000;
  border-spacing: 0px;
}

TABLE.backtrace TR TD {
  border: 1pt solid #000;
  font-family: monospace;
}

TABLE.backtrace TR TH {
  border: 1pt solid #000;
}

.error {
  color: #f33;
  background: #000;
}

.date {
  font-weight: normal;
  font-size: 1.2ex;
  float: right;
}

.newsheading {
  font-size: 2ex;
  border: solid black 1pt;
}

.newstitle {
  float: left;
}

.newsdate {
  float: right;
}

.newsimg {
  float: right;
}

a {
  background: transparent;
  color: #445e7c;
  /* text-decoration: none; */
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  background: transparent;
  color: #874a4a;
  text-decoration: underline;
  font-weight: bold;
}

#pageftr {
  /* background: #f5f5f5; */
  color: black;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1pt 0pt 1pt 0pt;
  padding: 4pt;
  vertical-align: top;
  text-align: center;
  white-space: nowrap;
  font-size: small;
  top: 50pt;
  left: 0pt;
}

@media (max-width: 1080px) {
  #titlebar {
    height: auto;
  }

  #tl,
  #tr {
    float: none;
    text-align: center;
    width: 100%;
  }

  #body {
    margin: 1ex 0.5em;
    font-size: 10pt;
  }

  #lsb,
  #rsb {
    display: none;
  }

  p {
    margin-left: 5pt;
    margin-right: 5pt;
  }

  h1 {
    font-size: 1.5ex;
    padding: 0.5ex;
  }

  .ftbut {
    font-size: 12pt;
  }

  .date {
    font-size: 1ex;
  }

  .newsheading {
    font-size: 1.5ex;
  }
}