<!DOCTYPE html>
<html>
<head>
  <title>Stig Bakken's Home Page</title>
 
  <link rel="stylesheet" type="text/css" href="/style.css" />

  <script type="text/javascript" src="//www.google-analytics.com/ga.js"></script>
  <script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11325075-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</head>

<body>

  <table id="titlebar" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr valign="bottom">
      <td align="left"><a href="/"><img id="tl" src="/g/titleheader.png" alt="StigBakken.com" border="0" vspace="2" /></a></td>
      <td width="99%">&nbsp;</td>
      <td align="right">
        <img id="tr" src="/g/furugran.png" alt="" border="0" vspace="2" />
      </td>
    </tr>
  </tbody></table>

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr style="height: 100%;" valign="top">
      <td id="body" width="50%">
        <h2>Resume</h2>
        <p><a href="/resume/">HTML Version</a></p>
        <p><a href="/resume/CV_Stig_Bakken.pdf">PDF Version</a></p>
        <h2><a href="https://www.facebook.com/stig.bakken">Facebook</a></h2>
        <h2><a href="https://www.linkedin.com/in/stigbakken">LinkedIn</a></h2>
        <h2><a href="https://twitter.com/stigsb">Twitter</a></h2>
      </td>
      <td id="music" width="50%">
      </td>
    </tr>
  </table>

  <table id="pageftr" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
      <td>
        <div style="float: left;">&copy; 2004-{{ now.Year }} Stig Sæther Nordahl Bakken</div>
      </td>
    </tr>
  </tbody></table>

</body>
</html>
